/* font style */
.inter-normal {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}


.raleway-normal {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

/* nav design */
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0px 150px;
    
}
.nav-title{
    font-weight: 800;
    font-size: 34px;
}
/* shared style */
body {
  background-color: #F2EDED;
}
.secondary-bg{
    background-color: rgba(78, 71, 255, 0.1);
}
header{
    background-image: url('..//Assets/Hero-bg.png');
    background-position: top left, bottom right;
    max-height: 1140px;
    margin: 0 auto;
}
.text-color{
    color: #4E47FF;
}
.btn-primary{
    background-color: #4E47FF;
    font-weight: bold;
    font-size: 16px;
    color: #FFFFFF;
    padding: 12px 36px;
    border-radius: 5px;
    border: none;
}
main{
    margin: 116px 159px 116px 141px;

}

/* banner style */

.banner-title{
    font-weight: bold;
    font-size: 65px;
    color: #252432;
}
.banner{
    max-width: 1140px;
    margin: 0 auto;
}
.banner-contant{
    padding: 158px 117.5px 152px 117.5px;
    text-align: center;
    
}
/* action style */
.action{
    display: flex;
    justify-content: space-between;   
}
.action-title{
    font-weight: bold;
    font-size: 42px;
    color: #252432;
}
.action-description{
    font-weight: 400px;
    font-size: 24px;
    color: rgba(37, 36, 50, 0.5);
    max-width: 517px;
}
.action-profile{
    width: 403px;
    height: 328px;
    border-radius: 48px;

}
/* productive-user style */
.productive-user{

    border-radius: 24px;
    padding: 50px 80px;
    margin-top: 116px;
}
.user-title{
    font-weight: bold;
    font-size: 38px;
    color: #252432;
    text-align: center;
}
.user-itrms{
    display: flex;
    justify-content: space-around;
}
.item-title{
    font-weight: bold;
    font-size: 80px;
    color: #4E47FF;
}
.item{
    font-weight: 400px;
    font-size: 20px;
    color: rgba(0, 0, 0, 0.5); 
}
/* review section */
.review-section{
    margin-top: 116px;
}
.user-review-title{
    font-weight: bold;
    font-size: 42px;
    color: #252432;
    text-align: center;
}
.review-container{
    display: flex;
    gap: 20px;
    margin-top: 50px;
    
    
}
.reviews{
    padding: 24px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    border-radius: 14px; 
    background-color: #FFFFFF;
    border-style: solid;  
    border-color: #F2EDED; 

}

.user-identity{
    display: flex;
    align-items: center;
    gap: 6px;
}
img {
  border-radius: 50%;
  width: 40px;
  height: 40px;
}


