/* font style */
.inter-normal {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}


.raleway-normal {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

/* nav design */
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0px 150px;
    
}
.nav-title{
    font-weight: 800;
    font-size: 34px;
}
/* shared style */
body {
  background-color: #F2EDED;
}
.secondary-bg{
    
}
header{
    background-image: url('..//Assets/Hero-bg.png');
    background-position: top left, bottom right;
    max-height: 1140px;
    margin: 0 auto;
}
.text-color{
    color: #4E47FF;
}
.btn-primary{
    background-color: #4E47FF;
    font-weight: bold;
    font-size: 16px;
    color: #FFFFFF;
    padding: 12px 36px;
    border-radius: 5px;
    border: none;
}
main{
    margin: 116px 159px 116px 141px;

}

/* banner style */

.banner-title{
    font-weight: bold;
    font-size: 65px;
    color: #252432;
}
.banner{
    max-width: 1140px;
    margin: 0 auto;
}
.banner-contant{
    padding: 158px 117.5px 152px 117.5px;
    text-align: center;
    
}
/* action style */
.action{
    display: flex;
    justify-content: space-between;

    
}
.action-title{
    font-weight: bold;
    font-size: 42px;
    color: #252432;
}
.action-description{
    font-weight: 400px;
    font-size: 24px;
    color: rgba(37, 36, 50, 0.5);
}
.action-profile{
    width: 403px;
    height: 328px;
    border-radius: 48px;

}


